# ---- Basis data source (PostgreSQL) ----
SOURCE_HOST=''
SOURCE_PORT='5432'
SOURCE_DB=''
SOURCE_USER=''
SOURCE_PASSWORD=''
SOURCE_SLOT_NAME='debezium_cutidev_gp_poc'

# ---- Basis data target (Greenplum) ----
TARGET_HOST=''
TARGET_PORT='6432'
TARGET_DB=''
TARGET_USER=''
TARGET_PASSWORD=''
TARGET_SCHEMA=''
