{
  "name": "cutidev-gp-poc-source",
  "config": {
    "connector.class": "io.debezium.connector.postgresql.PostgresConnector",
    "tasks.max": "1",
    "database.hostname": "<HOST_POSTGRESQL>",
    "database.port": "5432",
    "database.user": "<USER>",
    "database.password": "<PASSWORD>",
    "database.dbname": "<NAMA_DATABASE>",
    "topic.prefix": "cutidev",
    "plugin.name": "pgoutput",
    "publication.name": "cuti_publication",
    "publication.autocreate.mode": "disabled",
    "slot.name": "debezium_cutidev_gp_poc",
    "schema.include.list": "public",
    "table.include.list": "public.leave_leavedocument,public.leave_historyleave,public.account_user",
    "column.include.list": "public.leave_leavedocument\\..*,public.leave_historyleave\\..*,public.account_user\\.(id|is_active|date_joined|entry_date|company_id|gender|level|working_unit|fullname)",
    "snapshot.mode": "initial",
    "time.precision.mode": "connect",
    "decimal.handling.mode": "double",
    "tombstones.on.delete": "false",
    "transforms": "unwrap",
    "transforms.unwrap.type": "io.debezium.transforms.ExtractNewRecordState",
    "transforms.unwrap.drop.tombstones": "true",
    "transforms.unwrap.delete.handling.mode": "rewrite",
    "transforms.unwrap.add.fields": "op,source.ts_ms"
  }
}
